body{
background:linear-gradient(135deg,#1e3a8a,#2563eb);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
}

.calculator{
background:#ffffff;
padding:20px;
border-radius:15px;
width:300px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

#display{
width:100%;
padding:15px;
font-size:22px;
margin-bottom:15px;
border:none;
border-radius:8px;
text-align:right;
background:#f1f5f9;
color:#111827;

box-sizing:border-box;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

button{
padding:15px;
font-size:18px;
border:none;
border-radius:8px;
background:#f43f5e;
color:white;
cursor:pointer;
transition:0.2s;
}

button:hover{
background:#e11d48;
transform:scale(1.05);
}

.zero{
grid-column:span 2;
}